{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-10 text-center mt-5">
	<h1>Student Management</h1>
		<img width=1000  src="{{asset('images/home-tom.png')}}">
	</div>
{% endblock %}
